.anig
{
    padding-left: "0%";
    height:230px;
    border-radius: 13px;
    width:70%;
    margin:6%;
    margin-left: 15%;
    margin-top: 9%;
}

/* p
{
    padding: 7% 5% 9% ;
    margin-left: 3%;
} */

.about_card
{
   background-color: rgb(24, 62, 102); 
   margin:6%;
   border-radius: 13px;
   padding-bottom: 5px;
   
  

}

.content
{
    text-align: center;
    padding: 7% 5% 9% ;
    margin-left: 3%;
  font-size: 15px;
  color:rgb(178, 186, 194);
}