.home-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-carousel .carousel {
  overflow: hidden;
  background-color: #0e1939;
  box-shadow: 0 20px 50px rgb(23, 32, 90), 0 0 50px rgb(55, 66, 129);
  border: 2px solid #2a3cad;
}

.home-carousel .carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.home-carousel .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233399ff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.home-carousel .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233399ff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.home-carousel .carousel-image {
  width: 40vw;
  border-top-left-radius: 20rem;
  border-bottom-left-radius: 20rem;
  overflow: hidden;
  padding-right: 6rem;
}

.home-carousel .carousel-item {
  width: 80vw;
  height: 80vh;
}

.home-carousel .carousel-text {
  padding: 4rem;
  padding-left: 8rem;
  font-size: 5rem;
}